<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .text-danger{
            color: orange;
        }
    </style>
    <title>Registrarse</title>
</head>
<body>
    <h1>Formulario de registro:</h1>
    <br>
    <form action="/usuario/guardar" method="POST">
        <fieldset>
            <label for="nombreCompleto">Nombre Completo:</label>
            <input type="text" name="nombre" placeholder="Jaime Fulanito"
            value="<%= locals.oldData ? oldData.nombre : null %> ">
            <% if (locals.errors && errors.nombre) { %>
                <div class="text-danger">
                    <%= errors.nombre.msg %> 
                </div>
            <% } %>
        </fieldset>
        <fieldset>
            <label for="correo">Correo Electronico:</label>
            <input type="text" name="correo" placeholder="example@mail.com"
            value="<%= locals.oldData ? oldData.correo : null %> ">
            <% if (locals.errors && errors.correo) { %>
                <div class="text-danger">
                    <%= errors.correo.msg %> 
                </div>
            <% } %>
        </fieldset>
        <fieldset>
            <label for="contrase単a">Contrase単a:</label>
            <input type="password" name="clave">
            <% if (locals.errors && errors.clave) { %>
                <div class="text-danger">
                    <%= errors.clave.msg %> 
                </div>
            <% } %>
        </fieldset>
        <fieldset>
            <label for="confirmarContrase単a">Confirmar Contrase単a:</label>
            <input type="password" name="confirmarClave">
            <% if (locals.errors && errors.confirmarClave) { %>
                <div class="text-danger">
                    <%= errors.confirmarClave.msg %> 
                </div>
            <% } %>
        </fieldset>
        <fieldset>
            <button type="submit">Registrarse</button>
            <button type="reset">Resetear</button>
        </fieldset>
    </form>
</body>
</html>